@CHARSET "ISO-8859-1";
#schedule table{
	width: 100%;
	border-collapse: collapse;
}
#schedule h3{
	#background: #EDEDED;
	background: #9EDDCC;
	text-align: center;
	color: #333;
	margin: 20px 0 0;
	text-shadow: none;
	font-size: 19px;
	padding: 5px;
}
#schedule a{
	text-decoration: none;
	color: #333;
}
.schedule-main table thead tr{
	background: #eee;
}
.schedule-main table .row_odd {
	background: #fff;
}
.schedule-main table .row_even {
	background: #eee;
}
.schedule-main table tr td,
.schedule-main table tr th{
	padding: 5px;
	border: 0;
}
.schedule-main table .team{
	font-weight: normal;
	font-size: 13px;
}
.schedule-main table .team img{
	vertical-align: middle;
}
.schedule-main table .col_result{
	text-align: center;
}
.schedule-main table .col_result div{
	float: left;
	display: inline-block;
}
.sc_played table .col_result .sepa{
	background: url(../images/sepa.jpg) no-repeat center center;
	width: 15px;
	height: 17px;
	margin-top: 3px;
}
.sc_rank table thead th{
	text-align: left;
	font-size: 12px;
}
.sc_rank table .col_no{
	background: #9EDDCC;
}
.ui-listview>li.ui-li-has-thumb>a.ui-btn{
 	padding-left: 92px!important;
 	padding-right: 0!important
 }
 .iscroll-content{
 	padding: 0 16px!important;
 }
 .ui-content .ui-listview{
 	border-radius: 0!important;
 }
 .ui-listview>li h3{
 font-size: 0.9em!important;
 	margin: 2px 0;
 	white-space: normal!important;
 	font-weight: bold!important;
 	#color: #116AB5;
 }
 .ui-listview>li p{
 	white-space: normal!important;
 	margin: 0!important;
 }
 .ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
 	background-color: #108040;
 }
 .ui-listview>li.ui-li-has-thumb>a.ui-btn:after{
 	content:none!important;
 }
 .smenu li a.ui-btn-active{
 	#background-color: #B2412D!important;
 	#border-color: #B2412D!important;
 	background-color: #ededed!important;
 	border-color: #ededed!important;
 	color: #333!important;
 }
 @media (max-width: 500px){
  #postview img{
  	width: 100%!important;
height: auto!important;
  }
 }
 #header,#header .h_title{
	background: #108040;
}
#header{
	border-bottom: 0;
	background: #108040;
	text-shadow: none;
	color: #fff;
}
#header_nav ul li a.ui-btn-active{
	text-shadow: none;
}